/* LAYOUT */
html {
  font-family: var(--font-family, inherit);

  &.show-ui {
    --ui-border: 2px dashed red;


    [class^="ui-"] {
      margin: 0.5rem;
      border: var(--ui-border);
      border-top: var(--ui-border);
      border-bottom: var(--ui-border);
      border-left: var(--ui-border);
      border-right: var(--ui-border);
    }
  }
}

[data-kit] {
  display: none;
  padding: 0;
  margin: 0;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#spinner {
  z-index: 100;
  width: 100%;
  --progress-background-color: transparent;
  height: 5px;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 0;
}
progress:indeterminate {
  animation: progress-indeterminate 0.8s linear infinite;
}



/* BACKGROUNDS */

.bg-contrast {
  background: var(--contrast);
}

/* IFRAMES */

iframe::-webkit-scrollbar {
  display: none;
}
.pdf {
  display: block;
  width: 300px;
  height: 423px;
  overflow: clip;
}
.pdf.notoolbar {
  width: 300px;
  height: 367px;
}
.pdf iframe {
  width: inherit;
  height: inherit;
}

/* EMBEDS */

.embed-content.outline {
  border: 2px solid var(--muted-border-color);
  padding: 1em;
  margin-bottom: 1em;
}

/* FORMS */

select,
input:not([type="checkbox"], [type="radio"], [type="range"]),
details[role="list"] summary:not([role]) {
  height: var(--input-height);
  padding: var(--input-padding);
  font-size: var(--input-fs);
  line-height: 2rem;
}
select:not([multiple], [size]) {
  padding-left: var(--input-padding-x);
}
input[type="color"] {
  padding: 2px;
}
input:not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"] {
  border-radius: var(--border-radius);
  background-position: center left 0.4rem;
  padding-inline-start: 1.6rem;
  -webkit-padding-start: 1.6rem;
}

/* HEADINGS */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings-color);
  margin-top: var(--typography-spacing-vertical);
  border-bottom: 1px solid var(--muted-border-color);
  font-family: var(--headings-font-family, var(--font-family, inherit));
}

h1 {
  --font-size: 1.8rem;
  --typography-spacing-vertical: 2rem;
}
h2 {
  --font-size: 1.4rem;
  --color: hsl(var(--color-hs) calc(var(--color-lig) + 10%));
  --muted-border-color: hsl(var(--color-hs) calc(var(--color-lig) + 10%) / 0.1);
}

h3 {
  --font-size: 1.1rem;
  --color: hsl(var(--color-hs) calc(var(--color-lig) + 12%));
  --muted-border-color: hsl(var(--color-hs) calc(var(--color-lig) + 12%) / 0.1);
}

h4 {
  --font-size: 1rem;
  --color: hsl(var(--color-hs) calc(var(--color-lig) + 14%));
  --muted-border-color: hsl(var(--color-hs) calc(var(--color-lig) + 14%) / 0.1);
}
h5 {
  --font-size: 0.9rem;
  --color: hsl(var(--color-hs) calc(var(--color-lig) + 16%));
  --muted-border-color: hsl(var(--color-hs) calc(var(--color-lig) + 16%) / 0.1);
}
h6 {
  --font-size: 0.8rem;
  --color: hsl(var(--color-hs) calc(var(--color-lig) + 18%));
  --muted-border-color: hsl(var(--color-hs) calc(var(--color-lig) + 18%) / 0.1);
}

/* MODAL */

dialog {
  padding: var(--block-spacing-vertical) 0;
  article {
    max-height: calc(100vh - var(--block-spacing-vertical) * 2);
    background: var(--bg);
  }
}

@media (max-width: 575px) {
  dialog {
    align-items: flex-start;
    padding: 0;
    article {
      width: -webkit-fill-available;
      max-height: fit-content;
      max-height: -webkit-fill-available;
      margin: 0;
    }
  }
}

@media (max-width: 767px) {
  dialog {
    align-items: flex-start;
  }
}

/* DROPDOWN DETAILS */

details[role="list"] {
  &[open] {
    summary {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }

  summary + ul {
    width: auto;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: 5px;

    li {
      &:first-of-type {
        margin-top: 0;
        margin-bottom: 0;
        a {
          border-top-left-radius: var(--border-radius);
          border-top-right-radius: var(--border-radius);
        }
      }
      &:last-of-type {
        margin-bottom: 0;
        a {
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }
      }

      a {
        &:hover {
          background-color: var(--dropdown-hover-background-color);
          color: var(--dropdown-hover-color);
        }
      }
    }
  }

  &.dropdown-icon {
    margin-bottom: 0;

    summary {
      border: none;
      display: flex;
      height: fit-content;
      padding: 0;
      color: var(--contrast);

      &:focus {
        box-shadow: none;
      }

      &::after {
        display: none;
      }
    }

    summary + ul {
      width: fit-content;
      box-shadow: none;

      a {
        font-size: 1rem;
      }
    }

    &.right {
      summary + ul {
        left: auto;
      }
    }
  }
}

@media (max-width: 575px) {
  details[role="list"].dropdown-icon {
    summary + ul {
      margin-top: 2px;
      border-width: 2px;
      margin-right: -10px;
      border-radius: 0;
    }
  }
}

/* ELEMENTS */

address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  font-weight: inherit;
  font-size: inherit;
}
blockquote p {
  margin: 0;
}
pre code {
  word-break: break-word;
  white-space: pre-wrap;
}
hr + p {
  padding-top: 10px;
}
mark {
  padding: 0.125rem 0;
}
code,
kbd {
  // display: inline-block;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  --code-color: var(--bg);
  --code-background-color: var(--primary);
  color: var(--code-color);
}

pre code {
  background: var(--code-background-color);
}

[type="checkbox"][role="switch"] {
  --background-color: var(--border-color);
}

@media (max-width: 575px) {
  pre,
  figure {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  pre {
    border-radius: 0;
    code {
      border-radius: 0;
    }
  }
}

/* UI BLOCKS */

#header ~ main {
  padding-top: var(--header-height);
  padding-bottom: 0;
  
  &.stacked {
    padding-top: var(--header-height) !important;
    grid-column-gap: 0;

    .ui-center {
      min-height: calc(100vh - var(--header-height));
    }
  }
}

@media (min-width: 768px){
  #header ~ main {
    &.stacked {
      .ui-left {
        min-height: calc(100vh - var(--header-height));
      }
    }
  }
}

.ui-header {
  padding-right: var(--spacing) !important;
  padding-left: var(--spacing) !important;
  background: var(--header-background-color, var(--bg-opacity));

  .ui-header-left,
  .ui-header-right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    i {
      cursor: pointer;
      padding: calc(var(--spacing) / 2);
    }
  }
}

.ui-left,
.ui-right {
  width: calc(100% - var(--spacing) * 2);
  max-height: calc(100vh - 10rem);
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-left {
  position: fixed;
  border-radius: var(--border-radius);
  z-index: 1;
  background: var(--left-background-color, var(--bg-opacity));
}
.ui-right {
  position: fixed;
  z-index: 1;
  background: var(--right-background-color, var(--bg-opacity));
}

.ui-top {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0 var(--spacing);
  padding-right: calc(var(--spacing) / 2);
  align-items: center;
  height: var(--top-height);

  .ui-top-left, .ui-top-right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    & > i,
    summary > i {
      cursor: pointer;
      font-size: 1.5rem;
      padding: calc(var(--spacing) / 2);
    }
  }

  .ui-top-right {
    justify-content: end;
  }
}

.ui-center {
  min-height: calc(100vh - var(--header-height) - 2rem);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--center-background-color, var(--bg-opacity));
}

.ui-content {
  background: var(--content-background-color, inherit);
  a {
    text-decoration: underline;

    &::after {
      text-decoration: none;
    }
  }

  h1:first-of-type {
    margin-top: 0px;
  }
}

.ui-footer {
  padding: 1rem;
  background: var(--footer-background-color, inherit);
}

/* sm */
@media (min-width: 576px) {
  .ui-content {
    padding: 1rem;
  }

  .ui-left,
  .ui-right {
    width: var(--container-sm-width);
  }
}
/* md */
@media (max-width: 767px) {
  .ui-header {
    padding-right: calc(var(--spacing) / 2) !important;
    padding-left: calc(var(--spacing) / 2) !important;
  }


  .ui-top {
    padding: 0 1rem;
    padding-right: calc(var(--spacing) / 2);
    background: var(--bg);
    border-top: 2px solid var(--muted-border-color);
    border-bottom: 2px solid var(--muted-border-color);
    position: fixed;
    top: var(--header-height);
    width: 100%;
  }

  .ui-top ~ .ui-content {
    padding-top: calc(var(--header-height));
  }

  .ui-center {
    border-radius: 0;
  }

  .ui-content {
    padding: var(--spacing);
  }

}
@media (min-width: 768px) {
  .ui-left {
    width: var(--leftbar-width);
    padding: var(--spacing);
  }
  .ui-right {
    width: var(--rightbar-width);
  }

  main {
    --block-spacing-horizontal: calc(var(--spacing) * 1);
    grid-column-gap: calc(var(--block-spacing-horizontal) * 2);
    display: grid;
  }
  main:has(.ui-left):not(.ui-right) {
    grid-template-columns: var(--leftbar-width) auto;
  }
  main:not(.ui-left):has(.ui-right) {
    grid-template-columns: auto var(--rightbar-width);
  }
  main:has(.ui-left):has(.ui-right) {
    grid-template-columns: var(--leftbar-width) auto;
  }

  main:has(.ui-left):not(.ui-right) .ui-right {
    display: none;
  }
  main:not(.ui-left):has(.ui-right) .ui-right {
    display: block;
  }
  main:has(.ui-left):has(.ui-right) .ui-right {
    // display: none;
  }

  #header ~ main {
    padding-top: calc(var(--header-height) + 2rem);
  }
}

/* lg */
@media (min-width: 992px) {
  main {
    grid-column-gap: calc(var(--block-spacing-horizontal) * 2);
  }
}
/* xl */
@media (min-width: 1200px) {
  main:has(.ui-left):has(.ui-right) {
    grid-template-columns: var(--leftbar-width) auto var(--rightbar-width);
  }

  main:has(.ui-left):not(.ui-right) .ui-right {
    display: block;
  }
  main:not(.ui-left):has(.ui-right) .ui-right {
    display: block;
  }
  main:has(.ui-left):has(.ui-right) .ui-right {
    display: block;
  }
}

#header {
  height: var(--header-height);
  i {
    color: var(--contrast);
    font-size: 1.5rem;
  }
}

/* BUTTONS */

[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 5px 10px;
}

button {
  width: auto;
  display: inline-flex;
  align-items: center;
}

details[open] > summary:not([role]):not(:focus) {
  color: inherit;
}

/* FOOTER */

#footer {
  --font-size: 1rem;
  --icon-size: calc(var(--font-size) + 0.3rem);
  font-size: var(--font-size);
  margin-top: 100px;
  border-top: 2px dashed var(--muted-border-color);
  color: var(--muted-color);
  grid-gap: 1rem;
  justify-content: center;

  i {
    font-size: var(--icon-size);
  }

  .poweredby {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    .prefix {
      font-size: 9px;
    }
    
    a {
      display: grid;
      span {
        width: 58px;
        background: var(--contrast);
        img {
          width: 58px;
        }

      }
      &:hover {
        span {
        background: var(--primary);
        }
      }
    }


  }

  .ui-footer-left,
  .ui-footer-right {
    grid-gap: 1rem;
    justify-content: center;
    justify-items: center;
  }
}

@media (min-width: 768px) {
  #footer {
    --font-size: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
    .ui-footer-left {
      justify-content: start;
      grid-template-columns: repeat(2, auto);
    }
    .ui-footer-right {
      grid-template-columns: auto;
      justify-content: end;
    }
  }
}

/* CONTAINER */

@media (max-width: 575px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: var(--container-sm-width);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: var(--container-md-width);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: var(--container-lg-width);
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: var(--container-xl-width);
  }
}

/* CALLOUTS */

.callout {
  background-color: var(--callout-bg);
  border: 2px solid var(--callout-bg);
  /* border-left: 0.25rem solid var(--callout-bg); */
  border-radius: var(--callout-border-radius);
  margin-bottom: var(--typography-spacing-vertical);
}
.callout-title {
  display: flex;
  padding: 0.5rem 0;
  color: var(--callout-color);
  font-weight: bold;
}
.callout-title:has(.callout-fold) {
  cursor: pointer;
}
.callout-fold {
  display: none;
}
.callout-icon {
  margin: 0 0.4rem;
  display: flex;
  align-items: center;
  width: var(--callout-icon-width);
}
.callout-content {
  background: var(--background-color);
  padding: 1rem;
  font-size: calc(var(--font-size) - 0.1rem);
  border-bottom-left-radius: var(--callout-border-radius);
  border-bottom-right-radius: var(--callout-border-radius);
}
.callout-content p:last-child,
.callout-content ul:last-child,
.callout-content ul:last-child li:last-child {
  margin-bottom: 0;
}

// @media (max-width: 575px) {
//   .callout {
//     margin: var(--typography-spacing-vertical) -16px;
//     border-radius: 0;
//     border-left: none;
//     border-right: none;

//     .callout-content {
//       border-radius: 0;
//     }
//   }
// }

[data-callout="info"],
[data-callout="note"],
[data-callout="todo"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-info-bg));
  --callout-color: var(--callout-color-singletone, var(--callout-info-color));
}
[data-callout="tip"],
[data-callout="hint"],
[data-callout="important"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-tip-bg));
  --callout-color: var(--callout-color-singletone, var(--callout-tip-color));
}
[data-callout="success"],
[data-callout="check"],
[data-callout="done"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-success-bg));
  --callout-color: var(
    --callout-color-singletone,
    var(--callout-success-color)
  );
}
[data-callout="question"],
[data-callout="help"],
[data-callout="faq"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-question-bg));
  --callout-color: var(
    --callout-color-singletone,
    var(--callout-question-color)
  );
}
[data-callout="warning"],
[data-callout="caution"],
[data-callout="attention"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-warning-bg));
  --callout-color: var(
    --callout-color-singletone,
    var(--callout-warning-color)
  );
}
[data-callout="danger"],
[data-callout="error"],
[data-callout="bug"],
[data-callout="failure"],
[data-callout="fail"],
[data-callout="missing"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-danger-bg));
  --callout-color: var(--callout-color-singletone, var(--callout-danger-color));
}
[data-callout="quote"],
[data-callout="cite"] {
  --callout-bg: var(--callout-bg-singletone, var(--callout-quote-bg));
  --callout-color: var(--callout-color-singletone, var(--callout-quote-color));
}

@media (max-width: 575px) {
  html {
    --header-height: 60px;
    --top-height: 44px;
  }
}
@media (min-width: 576px) {
  html {
    --header-height: 60px;
    --top-height: 44px;
  }
}
@media (min-width: 992px) {
  html {
    --header-height: 70px;
  }
}
@media (min-width: 1200px) {
  html {
    --header-height: 80px;
  }
}







.layout-fluid {

  main {
    padding-top: var(--header-height) !important;
    grid-column-gap: 0 !important;
  }

  .ui-center {
    border-radius: 0;

    .ui-content {
      padding: 0;
    }
  }
}