/* global */
:root, :root[data-theme=dark], :root:not([data-theme=dark]), [data-theme=dark], [data-theme=light] { 
    --primary: #0095ff;
    --secondary: #6c757d;
    --success: #26c57b;
    --info: #0dcaf0;
    --warning: #ffab00;
    --danger: #df515f;
    --white: #fff;
    --black: #000;

    --primary-contrast: #fff;
    --secondary-contrast: #fff;
    --success-contrast: #fff;
    --info-contrast: #fff;
    --warning-contrast: #fff;
    --danger-contrast: #fff;
    --white-contrast: #000;
    --black-contrast: #fff;

    --callout-bg: var(--blockquote-border-color);
    --callout-color: var(--color);
    --callout-border-radius: var(--border-radius);
    --callout-icon-width: 20px;

    --callout-info-bg: #00b8d430;
    --callout-tip-bg: #00bfa521;
    --callout-success-bg: #19c5602b;
    --callout-question-bg: #64dd1729;
    --callout-warning-bg: #ff910021;
    --callout-danger-bg: #ff17441c;
    --callout-quote-bg: #9e9e9e1c;

    --callout-info-color: #00b8d4;
    --callout-tip-color: #00bfa5;
    --callout-success-color: #00c853;
    --callout-question-color: #64dd17;
    --callout-warning-color: #ff9100;
    --callout-danger-color: #ff1744;
    --callout-quote-color: #9e9e9e;


    --input-height: 2.2rem;
    --input-padding-x: .4rem;
    --input-padding: 0 var(--input-padding-x);
    --input-fs: 0.9rem;

    --mark-background-color: var(--primary);
    --mark-color: var(--primary-contrast);

    --container-sm-width: 510px;
    --container-md-width: 700px;
    --container-lg-width: 920px;
    --container-xl-width: 1130px;

    --leftbar-width: 200px;
    --rightbar-width: var(--leftbar-width);
}

/* light theme */
:root:not([data-theme=dark]), [data-theme=light] {
    --background-color: #fff;
    --card-background-color: #f7f7f7;
    --color: hsl(205deg, 20%, 32%);
}
/* dark theme */
:root[data-theme=dark] {
    --background-color: #11191f;
    --color: hsl(205deg, 16%, 77%);
}

